<div ui-view="main-dialog"></div>

<div ng-repeat="list in board.lists" class="panel panel-primary task-list" listid="{{list.id}}">
    <div class="panel-heading" style="position: relative;" >		
			<button class="btn btn-tab-remove btn-default btn-xs pull-right" type="button" ng-click="removeListPressed(list)"><span class="glyphicon glyphicon-remove"></span></button>
			<button class="btn btn-tab-edit btn-default btn-xs pull-right" type="button" ng-click="toggleEditor(list)"><span class="glyphicon glyphicon-pencil"></span></button>
			<h3 class="panel-title" ng-hide="list.editorEnabled">{{list.name}} </h3>
			
			<form class="form-inline" ng-submit="toggleEditor(list)" ng-show="list.editorEnabled">
				<input type="text" class="form-control input-sm" ng-model="list.editableName"  required>		
			</form>
	</div>
		
    <ul class="list-group">		
        <li ng-repeat="task in list.tasks" class="list-group-item">
            <div class="task" draggable="true" title="{{task.description}}">
                <button class="close-btn" ng-click="removeTask(task)">X</button>
                <a ui-sref="main.board.edittask({boardid:board.id,listid:list.id,taskid:task.id})" taskid="{{task.id}}">
                    <div class="task-name">
                        {{task.name}}
                    </div>
                    <span class="task-end-date">{{task.end_date}}</span>
                    <span ng-class="{completed:'success',not_completed:'error'}[task.status]" class="task-status"></span>
                </a>
            </div>
        </li>
    </ul>

  <div class="panel-footer">
            <form class="form-inline" ng-submit="addTask(addname, list)" >
                <input type="text" class="form-control" placeholder="Task name" ng-model="addname" required>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
    </div>
</div>

<div class="panel panel-default task-list">
    <div class="panel-heading">
        <form class="form-inline" ng-submit="addList(addListName)">
            <input type="text" class="form-control" placeholder="List name" ng-model="addListName" required/>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>

