

            <!--<div class="board-container">-->
                <ng-tabset>
                    <ng-board-tab ng-repeat="board in boards" boardid="{{board.id}}">
                        <!--<tab-heading></tab-heading>-->
                        <!--<div>Tab content for {{board.name}}</div>-->
                    </ng-board-tab>
                    <ng-add-tab funcname="addBoard" placeholder="Board name">
                        
                    </ng-add-tab>
<!--                    <ng-tab content="Test">
                        
                    </ng-tab>-->
                </ng-tabset>
 