                <div class="schedule-content">
                    <h4 style="text-align:center;">Scheduled for: <br/> ({{currentDate}})</h4>
                    <hr/>
<!--                    <h4>Planned today</h4>
                    <hr/>

                    <div class="task" draggable="true">
                        <button class="close-btn">X</button>
                        <div class="task-description">
                            Description here
                        </div>
                        <span class="task-end-date">10-4-2014</span>
                        <span class="task-status success"></span>
                    </div>-->
                    <form class="form-inline pull-right" ng-submit="scheduleDays = changingDays; setDateDiffStr(); getSchedule()">
                        <input class="form-control input-sm" style="width:50px; display:inline-block;" type="number" ng-model="changingDays" required min="1" />
                        <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh"></span></button>
                        <span class="help-block" style="margin:0; font-size:small;">{{getCurrentDateStr(changingDays)}}</span>
                    </form>
                    
                    <h4 class="clearfix" style="margin-bottom:0;">Upcoming deadlines</h4>
                    <div class="schedule-container hor-sep-top">
                        <div class="schedule-board-group" ng-repeat="board in scheduleData">
                            <!--<a ui-sref="main.board({boardid:board.id})" class="close-btn">Go</a>-->
                            <button class="schedule-board-name" type="button">{{board.name}}</button>
                            <div class="schedule-list-group" ng-repeat="list in board.lists">
                                <button class="schedule-list-name" type="button">{{list.name}}</button>
                                <div ng-repeat="task in list.tasks" class="task schedule-task" title="{{task.description}}">
                                    <a ui-sref="main.board.edittask({boardid:board.id,listid:list.id,taskid:task.id})" taskid="{{task.id}}" draggable="true">
                                        <div class="task-name">
                                            {{task.name}}
                                        </div>
                                        <time class="task-end-date">Date: {{task.end_date.replace(" ", " - Time: ")}}</time>
                                        <span ng-class="{completed:'success',not_completed:'error'}[task.status]" class="task-status"></span>
                                        <time class="task-remaining-days"><b>{{getRemainingTaskDaysString(task)}}</b></time>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>